<div id="termo">
  <section class="termo-banner banner">
    <div class="container">
      <div class="col-md-5 col-xs-10 sub-content">
        <div class="title-sub">
          <h1>Termodinámica</h1>
        </div>
        <div class="sub-description">
          <p>Afianza y mejora tus conocimientos en Termodinámica con nosotros; en este módulo aprenderás acerca de: Energias, Propiedades, Leyes y más.</p>      
        </div>
        <ul class="media-list">
          <li class="list-item"> <a href="" class="tag tag-invert">Energía</a></li>
          <li class="list-item"><a href="" class="tag tag-invert">Conceptos</a></li>
          <li class="list-item"><a href="" class="tag tag-invert"> Propiedades</a></li>
          <li class="list-item"><a href="" class="tag tag-invert">Primera Ley</a></li>
          <li class="list-item"><a href="" class="tag tag-invert">Segunda Ley</a></li>
        </ul>
      </div>
    </div>
    <div class="badge-icon">
      <%= image_tag('icono-termo.png')%>
    </div>
  </section>
  <section class="unidades">
    <div class="container">
      <div class="col-xs-6 unidad unidad-2">
        <div class="col-xs-2 unidad-icon">
          <%= image_tag('conceptos.png')%>
        </div> 
        <div class="col-xs-8 unit-text">
          <h3>Conceptos Termodinámicos</h3>
          <p>Amplia y afianza tus conocimientos de los conceptos temodinámicos.</p>  
        </div>
      </div>
      <div class="col-xs-6 unidad unidad-3">
        <div class="col-xs-2 unidad-icon">
          <%= image_tag('propiedades.png') %>
        </div>
        <div class="col-xs-8 unit-text">
          <h3>Propiedades Termodinámicas</h3>
          <p>Amplia y afianza tus conocimientos de las propiedades temodinámicas.</p>  
        </div> 
      </div>
      <div class="col-xs-6 unidad unidad-3">
        <div class="col-xs-2 unidad-icon">
          <%= image_tag('segunda_ley.png') %>
        </div>
        <div class="col-xs-8 unit-text">
          <h3>Segunda Ley</h3>
          <p>Aprende rapidamente realizando ejercicios de la primera ley.</p>  
        </div> 
      </div>
      <div class="col-xs-6 unidad unidad-2">
        <div class="col-xs-2 unidad-icon">
          <%= image_tag('primera_ley.png')%>
        </div>
        <div class="col-xs-8 unit-text">
          <h3>Primera Ley</h3>
          <p>Aprende rapidamente realizando ejercicios de la primera ley.</p>  
        </div> 
      </div>
      <div class="col-xs-6 unidad unidad-2">
        <div class="col-xs-2 unidad-icon">
          <%= image_tag('energia.png') %>
        </div>
        <div class="col-xs-8 unit-text">
          <h3>Energía</h3>
          <p>Afianza tus conocimientos en energía con los ejercicios propuestos mas conocidos.</p>  
        </div> 
      </div>
    </div>
  </section>
  <section class="recomendados">
    <h1 class="text-center"> Recomendados </h1>
    <div class="col-xs-6 col-sm-offset-3">
      <p class="text-center">Mira también nuestros nuevos módulos y afianza tus conocimientos</p>
    </div>
    <div class="container">
      <div class="col-xs-6 icon-recomen">
        <div class="col-xs-4">
          <%= image_tag('recomendados.png')%>
          <%= image_tag('recomendados-icon.png', :class => 'icon-nuevo')%>
        </div>
        <div class="col-xs-8">
          <hr>
          <h4 class="text-center">Lorem ipsum dolor</h4>
          <p>Pellentesque at sem quam. Duis non massa mattis, lobortis lacus et, vestibulum tortor.</p>
          <hr>
        </div>
      </div>
      <div class="col-xs-6 icon-recomen">
        <div class="col-xs-4">
          <%= image_tag('recomendados-2.png')%>
          <%= image_tag('recomendados-icon.png', :class => 'icon-nuevo')%>
        </div>
        <div class="col-xs-8 recom-text">
          <hr>
          <h4 class="text-center">Lorem ipsum dolor</h4>
          <p>Pellentesque at sem quam. Duis non massa mattis, lobortis lacus et, vestibulum tortor.</p>
          <hr>
        </div>
      </div>
    </div>
  </section>
</div>
