<% if current_user %>
	<% provide(:title, current_user.name) %>
<% end %>
<div class="jumbotron">

	<% if signed_in?  %>
	  <div class="container text-center">
	    <h1>Share your videos with the world!</h1>
	    <p>Click the button below to share your video from YouTube.</p>
	    <p>
	      <%= link_to 'Add video now!', new_video_path, class: 'btn btn-primary btn-lg' %>
	    </p>
	  </div>
	<% end %>

	<div class="container text-center">
		<h1>Estos son los videos que hemos recopilado para tí, escoge la materia que necesites<%= @subject %></h1>	
	</div>
   
	<div class="filter-panel">
		
		<%= link_to :controller => params[:controller], :action => params[:action], :subject => '' do%>
			<button class="btn turquoise btn-lg button-search">Todos</button> 
		<% end %>
		<%= link_to :controller => params[:controller], :action => params[:action], :subject => 'cálculo' do%>
			<button class="btn blue btn-lg button-search">Cálculo</button> 
		<% end %>
		</button>
		<%= link_to :controller => params[:controller], :action => params[:action], :subject => 'física' do%>
			<button class="btn midnight btn-lg button-search">Física</button> 
		<% end %>
		<%= link_to :controller => params[:controller], :action => params[:action], :subject => 'química' do%>
			<button class="btn purple btn-lg button-search">Química</button> 
		<% end %>
		<%= link_to :controller => params[:controller], :action => params[:action], :subject => 'algebra lineal' do%>
			<button class="btn btn-lg button-search orange">A. Lineal</button> 
		<% end %>
		
	</div>
  		
  <% if @videos.any? %>
	  <div class="container">
	    
	    <div id="player-wrapper"></div>
	 
	    <% @videos.in_groups_of(3) do |group| %>
	      <div class="row">
	        <% group.each do |video| %>
	          <% if video %>
	            <div class="col-md-4">
	              <div class="yt_video thumbnail">
	              	<a href="/videos/<%= video.id%>">
	              		<img src="https://img.youtube.com/vi/<%= video.uid %>/mqdefault.jpg" class="yt_preview img-rounded" alt= '<%=video.title %>' data-uid= 'video.uid'>
	               	</a>
	                <div class="caption">
	                  <h5><%= video.title %></h5>
	                  <p>Materia: <b><%= video.subject %></b></p>
	                  <p>Duration: <b><%= video.duration %></b></p>
	                  <p>
	                    <span class="fa fa-thumbs-up"></span> <%= video.likes %>
	                    <span class="fa fa-thumbs-down"></span> <%= video.dislikes %>
	                    <% if signed_in? && current_user.admin?  %>
										    <%= link_to "delete", video, method: :delete,
										                                  data: { confirm: "You sure?" } %>
									  	<% end %>
	                  </p>
	                </div>
	              </div>
	            </div>
	          <% end %>
	        <% end %>
	      </div>
	    <% end %>
	  </div>
	<% end %>
</div>