<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,100italic,100&subset=all' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Duru+Sans&subset=all' rel='stylesheet' type='text/css'>

  <!-- Youtube api -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- Le CSS
    ================================================== -->
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= stylesheet_link_tag    "picons" %>
  <%= stylesheet_link_tag    "style" %>
  
  <!-- Js -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.lazyload" %>
  <%= javascript_include_tag "modernizr.custom" %>
  <%= javascript_include_tag "bootstrap.min" %>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  

  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <%= javascript_include_tag "fancybox/lib/jquery.mousewheel-3.0.6.pack" %>

  <!-- Add fancyBox -->
  <%= stylesheet_link_tag    "fancybox/source/jquery.fancybox" %>
  <%= javascript_include_tag "fancybox/source/jquery.fancybox.pack" %>

  <!-- Optionally add helpers - button, thumbnail and/or media -->
  <%= stylesheet_link_tag    "fancybox/source/helpers/jquery.fancybox-buttons" %>
  <%= javascript_include_tag "fancybox/source/helpers/jquery.fancybox-buttons" %>
  <%= javascript_include_tag "fancybox/source/helpers/jquery.fancybox-media" %>

  <%= stylesheet_link_tag    "fancybox/source/helpers/jquery.fancybox-thumbs" %>
  <%= javascript_include_tag "fancybox/source/helpers/jquery.fancybox-thumbs" %>
  
  
</head>

<body id="top">
  <nav>
    <div class="container">
      <div class="logo pull-left">
        <%= link_to '', root_path %>
        <a class="home_link" href="">
          <img src="/assets/TopLogo.png" alt="Main Logo" >
        </a>  
      </div>
      <% if current_page?('/')  %>
  
        <div class="row">
          <ul id="top-menu">
            <li class="col-sm-1 active"><a href="#top"><i class="fa fa-chevron-up"></i><span class="hidden">Top</span></a></li>
            <li class="col-sm-2"><a href="#subjects"><i class="fa fa-book fa-3x"></i> Materias</a></li>
            <li class="col-sm-2"><a href="#about-us"><i class="fa fa-user fa-3x"></i> Creadores</a></li>
            <li class="col-sm-2"><a href="#contact"><i class="fa fa-phone fa-3x"></i> Contactos</a></li>
          </ul>
        </div>
        <ul id="video-menu">
          <li class="col-sm-2 videos">
            <%= link_to videos_path do %>
              <i class="fa fa-youtube-play fa-3x"></i> Videos
            <% end %>
            
          </li>
        </ul>
      <% else %>
        <% if signed_in? %>
          <ul class="user-menu1">
            <li class="col-sm-2"><a href="/videos"><i class="fa fa-youtube-play fa-3x"></i> Videos</a></li>
            <li class="col-sm-2">
              <%= link_to edit_user_path(current_user) do %>
                <i class="fa fa-male fa-3x"></i> <%= @current_user.name.split[0..1].join(' ') %>
              <% end %>
            </li>
            <li>
              <%= link_to signout_path, method: "delete", :class => "col-sm-2" do %>
                <i class="fa fa-sign-out fa-3x"></i> Salir
              <% end %>
            </li>
          </ul> 
        <% else %>
          <ul id="user-menu">
            <li class="col-sm-2 "><a href="/signin"><i class="fa fa-sign-in fa-3x"></i>Ingresar</a></li>
            <li class="col-sm-2"><a href="/videos"><i class="fa fa-youtube-play fa-3x"></i> Videos</a></li>
          </ul>
        <% end %>
        
      <% end %>
  
    </div>
  </nav>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  
  <%= yield %>

  <% if signed_in? %>
  
    <% if !current_page?('/signin') && !current_page?('/signup') && !current_page?(edit_user_path(current_user))%>
      <%= render 'layouts/footer' %>
    <% end %>
  <% else %>

    <% if !current_page?('/signin') && !current_page?('/signup') %>
      <%= render 'layouts/footer' %>
    <% end %>
  <% end %>
        
      
  <%= javascript_include_tag "library" %>
  <%= javascript_include_tag "scripts" %>
  
  <script>
    $(function() {
        Grid.init();
    });
  </script>

</body>
</html>
