<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,100italic,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body >
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo pull-left">
          <a href="/">
            <img src="/assets/TopLogo.png" alt="Main Logo" >
          </a>  
        </div>
        <div id="nav-top" class="pull-right">
          <ul class="nav unstyled">
            <li ><a href="#portfolio"><i class="fa fa-book fa-3x"></i>Videos</a></li>
            <li ><a href="#"><i class="fa fa-user fa-3x"></i>Creadores</a></li>
            <li ><a href="#contact"><i class="fa fa-phone fa-3x"></i>Contacto</a></li>
            <li ><a href="/signin"><i class="fa fa-sign-in fa-3x"></i>Ingresar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
	<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
	<%= yield %>

</body>
</html>
