<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <!-- Gmail Validation Meta-->
  <meta name="google-site-verification" content="DZBV29_3nAehejcEOjqfcua_vgqZvOfblDU19S2G4HQ" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,100italic,100&subset=all' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Duru+Sans&subset=all' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Youtube api -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- Le CSS
    ================================================== -->
  <%= stylesheet_link_tag    "picons" %>
  <%= stylesheet_link_tag    "style" %>
  
  <!-- Js -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%= javascript_include_tag "modernizr.custom" %>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  

  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  
</head>

<body id="top">

  <% if !current_page?(root_path) %>
    <nav>
      <div class="container">
        <div class="logo pull-left col-xs-4">
          <a class="home_link" href="/">
            <img src="/assets/brains_logo.png" alt="Main Logo" >
          </a>  
        </div>
        <ul class="col-xs-8 navbar-right" id="top-menu">
          <% if !signed_in? %>
            <li class="videos">
              <%= link_to 'Ingresar', signin_path %>
            </li>
          <% else %>
            <li>
              <%= link_to signout_path, method: "delete" do %>
                Salir
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(current_user) do %>
                <%= @current_user.name.split[0..1].join(' ') %>
              <% end %>
            </li>
          <% end %>
          <li><a href="/modulos"> Materias</a></li>
          <li><a href="/about"> Creadores</a></li>
          <li><a href="/contact">  Contactos</a></li>
        </ul>    
      </div>
    </nav>
  <%  end %>
  
  <%= yield %>

  <% if signed_in? %>
  
    <% if !current_page?(root_path) && !current_page?('/signin') && !current_page?('/signup') && !current_page?(edit_user_path(current_user))%>
      <%= render 'layouts/footer' %>
    <% end %>
  <% else %>

    <% if !current_page?(root_path) && !current_page?('/signin') && !current_page?('/signup') %>
      <%= render 'layouts/footer' %>
    <% end %>
  <% end %>
        
  <%= render 'layouts/analytics' %>
</body>
</html>
